---
---
$baseurl: "{{ site.baseurl }}";
$header-bg-color: #80cfeb;
$section-headings-color: #00a1de;

@import "{{ site.theme }}";

.page-header {
  background-image: url('#{$baseurl}/assets/images/thecatch2025.png'), linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.page-header h1 a {
  color: $header-heading-color;
}

.main-content {
  background-image: url('#{$baseurl}/assets/images/thecatch2025-linka.svg');
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center bottom;
}
